body {
  background-color: #121413;
  font-size: 1.20vmax;
  margin: 0 auto;
}

.wrap {
    width: 60vw;
    margin: 0 auto;
    position: relative;

}

/* header */

#header {
  width: 100%;
  height: 80vh;
  position: relative;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 15vh;
  padding-bottom: 5vh;
}

#logo img {
  max-width: 920px;
}

#nav-container {
  /* transition: background .3s ease; */
  background: rgba(30, 30, 30, 0.5);
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

nav {
  width: 40vw;
  margin: 0 auto;
  height: 10vh;
}

hr {
  width: 80vw;
  border: .5px solid #555;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

i {
  margin-right: .5vw;
  margin-left: 1px;
}

nav a {
  text-transform: uppercase;
}

/* /header */

/* releases */

.title {
  color: #444;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}


#releases {
  margin-bottom: 10vh;
  width: 100%;
}

.album-block {
  display: block;
}

.album-img img {
  width: 25vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.album-title h5 {
  font-size: 1.3vmax;
  color: #888;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4vh;

  /* text-transform: uppercase; */
  font-variant: small-caps;
  letter-spacing: .1vw;
}

.buy-links a {
  color: #999;
  font-size: .85vmax;
}


/* About */

.about-block {
  display: block;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.members p {
  /* margin-right: 3vw; */
  font-size: 1vmax;
  color: #999;
}

.about-text p {
  margin: 0;
  font-size: 1.2vmax;
  color: #999;
}

.photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 3vh;
}

/* links */

#links {
  height: 90vh;
}

/* Contacts */

#contacts {
  height: 90vh;
}


/* New */
.container {
  display: flex;
  flex-flow: row nowrap;
}
